<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @video.user_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @video.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @video.last_name %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
